---
layout: post
---

<!-- Here I'd like a link to the collection this post belongs to -->
<!-- {{ page.category }} -->
<!-- {{ site.categories }} -->

<p>
{{ page.excerpt -}}
</p>

<!-- Add the main image with the final dish -->
{% if page.imagefinished %}
    {%- assign rel_img_url = "/assets/images/" | append: page.imagefinished.filename | relative_url -%}
    <img class="recipe-image" src="{{ rel_img_url }}" alt="{{ page.imagefinished.alttext }}">
    {%- if page.imagefinished.caption -%}
        <figcaption>{{ page.imagefinished.caption }}</figcaption>
    {%- endif -%}
{%- endif %}

{% if page.inspiration -%}
<h2>
    Grazie a ...
    {{ page.inspiration.name }}
</h2>
{% if page.inspiration.text -%}
    <p>
    {{- page.inspiration.text -}}
    </p>
{%- endif -%}
<p>
Per maggiori informazioni visita
<a href="{{- page.inspiration.link.url -}}">
    {{- page.inspiration.link.description -}}
</a>.
</p>
{%- endif %}

<h2>
    Ingredienti ({{ page.serves }})
</h2>

{%- for ingredient_list in page.ingredients %}
{% if ingredient_list.preparation_name -%}
<h4>
{{ ingredient_list.preparation_name }}
</h4>
{%- endif %}
<ul>
    {%- for ingredient in ingredient_list.list %}
    <li>
        {{- ingredient.name }}
        ({{ ingredient.quantity -}})
    </li>
    {%- endfor %}
</ul>
{% if ingredient_list.imageingredient -%}
    {%- assign rel_img_url = "/assets/images/" | append: ingredient_list.imageingredient.filename | relative_url -%}
    <img class="recipe-image" src="{{ rel_img_url }}" alt="{{ ingredient_list.imageingredient.alttext }}">
    {%- if ingredient_list.imageingredient.caption -%}
        <figcaption>{{ ingredient_list.imageingredient.caption }}</figcaption>
    {%- endif -%}
{%- endif %}
{%- endfor %}

<h2>
    Procedimento
</h2>

{%- for step_list in page.steps %}

{% if step_list.preparation_name -%}
    <h3>
    {{ step_list.preparation_name }}
    </h3>
{%- endif %}

<ol class="gradient-list">
    {%- for s in step_list.list %}
        {%- if s.type == 'text' %}
            <li>
            <!-- {{ forloop.index }}: -->
            {{ s.instruction }}
            </li>
        {%- elsif s.type == 'image' -%}
            {%- assign rel_img_url = "/assets/images/" | append: s.filename | relative_url %}
            <img class="recipe-image" src="{{ rel_img_url }}" alt="{{ s.alttext }}">
            {%- if s.caption -%}
                <figcaption>{{ s.caption }}</figcaption>
            {%- endif -%}
        {%- endif -%}
    {%- endfor %}
</ol>

{%- endfor %}

{%- if page.notes -%}
<h2>
    Note
</h2>
<ul>
    {%- for note in page.notes %}
    <li>
        {{ note }}
    </li>
    {%- endfor %}
</ul>
{%- endif -%}

{%- if page.seealso -%}
<h2>
    Vedi anche
</h2>
<ul>
    {%- for sa in page.seealso %}
    <li>
        {{ sa.text }}
        Per maggiori informazioni visita
        <a href="{{- sa.link.url -}}">
            {{- sa.link.description -}}
        </a>.
    </li>
    {%- endfor %}
</ul>
{%- endif -%}
