---
layout: post
---

<!-- Here I'd like a link to the collection this post belongs to -->
<!-- {{ page.category }} -->
<!-- {{ site.categories }} -->

<p>
{{ page.excerpt -}}
</p>

<!-- Add the main image with the final dish -->
{% if page.imagefinished %}
    {%- assign rel_img_url = "/assets/images/" | append: page.imagefinished.path | relative_url -%}
    <img class="recipe-image" src="{{ rel_img_url }}" alt="{{ page.imagefinished.alttext }}">
    {%- if page.imagefinished.caption -%}
        <figcaption>{{ page.imagefinished.caption }}</figcaption>
    {%- endif -%}
{%- endif %}

{% if page.inspiration -%}
<h3>
    Grazie a ...
    {{ page.inspiration.name }}
</h3>
{% if page.inspiration.link -%}
    <p>
    Per maggiori informazioni visita
    <a href="{{- page.inspiration.link.url -}}">
        {{- page.inspiration.link.description -}}
    </a>.
    </p>
{%- endif -%}
{%- endif %}

<h3>
    Ingredienti (per {{ page.serves }} persone)
</h3>

<ul>
    {%- for ingredient in page.ingredients %}
    <li>
        {{ ingredient }}
    </li>
    {%- endfor %}
</ul>

<h3>
    Procedimento
</h3>

<ol class="gradient-list">
    {%- for s in page.steps %}
    {%- if s.type == 'text' %}
    <li>
        <!-- {{ forloop.index }}: -->
        {{ s.instruction }}
    </li>
    {%- elsif s.type == 'image' -%}
    {%- assign rel_img_url = "/assets/images/" | append: s.path | relative_url %}
    <img class="recipe-image" src="{{ rel_img_url }}" alt="{{ s.alttext }}">
    {%- endif -%}
    {%- endfor %}
</ol>

{%- if page.notes -%}
<h3>
    Note
</h3>
<ul>
    {%- for note in page.notes %}
    <li>
        {{ note }}
    </li>
    {%- endfor %}
</ul>
{%- endif -%}

{%- if page.seealso -%}
<h3>
    Vedi anche
</h3>
<ul>
    {%- for sa in page.seealso %}
    <li>
        {{ sa.text }}
        {% if sa.link -%}
        Per maggiori informazioni visita
        <a href="{{- sa.link.url -}}">
            {{- sa.link.description -}}
        </a>.
        {%- endif -%}
    </li>
    {%- endfor %}
</ul>
{%- endif -%}
